body {
    background-color: lightblue;
    font-family: sans-serif;
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: Verdana, serif;
    font-weight: bold;
}

h2 {
    color: blueviolet;
    margin-left: 25px;
    font-family: Verdana, fantasy;
    font-weight: lighter;

}

h3 {
    color: blueviolet;
    margin-left: 30px;
}
p {
    color: cornflowerblue;
    margin-left: 20px;
}
strong {
    margin-left: 20px;
}
span{
    margin-left: 20px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
.firstcharacter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}