* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
     'header header header header header header'
      'menu menu menu menu menu menu'
      'left middle middle middle middle right'
      'footer footer footer footer footer footer';
}

.left,
.middle,
.right {
    padding: 10px;
    height: 300px; /*Should be removed. Only for demonstration */
}
.menu{
    display: flex;
    flex-direction: row;
}
.main{
    display: flex;
    flex-direction: row;
}

/* Style the left column */
.left {
    grid-area: left;
}
.menu{
    grid-area: menu;
}
.menu .item{
    width: 150px;
    margin: 0px;
    font-size: 20px;
    /*text-align: center;*/
    border-right: 1px solid;
}
.main .area {
    flex:1;
    width: 20%;
    height: 200px;
    background-color: gray;
    border: 1px solid;
}

.main .middle-area {
    flex:1;
    width: 100%;
    height: 200px;
    background-color: gray;
    border: 1px solid;
}
/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.main{
    grid-area: main;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .grid-container  {
        grid-template-areas:
      'header header header header header header'
      'menu menu menu menu menu menu'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'right right right right right right'
      'footer footer footer footer footer footer';
    }
}